<div class="home">
    <div class="search-section">
        <div class="search-bar">
            <div class="search-bar-content">
                <div class="container">
                    <input type="text" [(ngModel)]="searchTerm" (keydown.enter)="onSearch()" placeholder="Search...">
                    <a (click)="onSearch()">
                        <img src="../../../assets/icons/magnifying-glass-solid.svg" alt="search">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>